.wallet-modal {
  transition: ease-in-out;
  transition-duration: 300;

  .backdrop {
    background-color: #00000080;
  }
  .item {
    background-color: #092b3f80;
    padding: 40px 60px;
    font-size: 24px;
    border-radius: 40px;
    height: 80px;
    cursor: pointer;
    &:hover {
      background-color: #091a2480;
    }
  }
}

.airdrop-progress {
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  // max-width: 478px;
  height: 50px;

  .bg-bar {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 10px 10px;
    background: rgba(255, 255, 255, 0.10);
  }
  .fill-bar {
    transition: width 2s;
    width: 50%;
    height: 100%;
    min-width: 20px;
    flex-shrink: 0;
    border-radius: 10px 10px;
    background: #47BDFF;
  }
  .text {
    z-index: 1;
  }
}

.dashboardbutton{
  position: relative;
  background: transparent;
  border: 0px solid white;
  box-shadow: inset 0 0 0 0.2px white;
  color: #ccc;
  display: inline-flex;
  width: 120px;
  display: flex;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  transition: .8s;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  &:focus{
    outline: 0;
  }
  &:before{
    content: '';
    display: inline-flex;
    position: absolute;
    background: rgba(255,255,255,0.5);
    width: 60px;
    height: 100%;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
  }
  &:after{
    content: '';
    display: inline-flex;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 30px;
    height: 100%;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:hover{
  background: #7d00d6;
  background-image: linear-gradient(to right, #7d00d6, #502191, #3e1559);
    cursor: pointer;
    &:before{
      transform: translateX(300px)  skewX(-15deg);  
      opacity: 0.6;
      transition: .7s;
    }
    &:after{
      transform: translateX(300px) skewX(-15deg);  
      opacity: 1;
      transition: .7s;
    }
  }
}
